body,#root{
    height: 100%;
    .qh-header{
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        padding: 0 16px;
        
        .qh-logo{
            height: 48px;

            img{
                max-height: 100%;
            }
        }
    }
}
